body {
  background-color:#002a40;
  color:white;
}

.main {
  height: 100%;
  min-height: 100vh;
	width: 100vw;

	background-color: #002a40;
}

.title {
	text-align: center;

	width: 100%;

	padding: 2%;

	background-color: #002a40;

	color: white;
}

.bottom {
	position: fixed;

	width: 100%;

	left: 0;

	bottom: 0;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  background:#f58220;
  border:1px solid #f58220;
  color:white;
}

.whoistyping {
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}

#slide {
  width:20%;
}